/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
  --line-height: 1.7;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  line-height: var(--line-height);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
.flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin-top: -60px;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -30px;
  }
}
/* End Components */
/* start header  */
.header .flex-container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.logo {
  width: 60px;
}

.links .icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.3s;
}
.links .icon span {
  background-color: #222;
  width: 30px;
  height: 3px;
  transition: 0.3s;
}
.links .icon span:nth-child(2) {
  width: 15px;
  align-self: flex-end;
}
.links:hover span:nth-child(2) {
  width: 30px;
}
.links .navbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% - 5px);
  right: 0;
  width: 180px;
  transition: var(--main-duration);
  z-index: 1;
  display: none;
}
.links .navbar::before {
  content: "";
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  top: -20px;
  right: 0;
}
.links .navbar a {
  color: #222;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #fff;
}
.links .navbar a:last-child {
  border-bottom: none;
}
.links .navbar a:hover {
  background-color: #ddd;
  padding-left: 20px;
}
.links:hover .navbar {
  display: flex;
}
/* end header  */
/* start landing  */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}
.landing p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.7;
}
/* end landing  */

/* start features */
.features {
  background-color: var(--section-background);
  padding: var(--section-padding);
}
.features .grid {
  min-height: 400px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
}
.features .feat {
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  margin: 25px 0;
  font-size: 20px;
}
.features .feat p {
  width: 90%;
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.9;
  color: #777;
}
@media (max-width: 991px) {
  .features .feat {
    margin-bottom: 30px;
  }
  .features .feat p {
    width: 100%;
    margin: auto;
  }
}
/* end features */

/* star services */
.services {
  padding-bottom: var(--section-padding);
}
.services .grid {
  padding-top: 80px;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  align-items: normal; /*add item at same line */
}
.srv {
  padding: 10px 0;
  display: flex;
  margin-bottom: 30px;
}
.srv i {
  color: var(--main-color);
  margin-right: 20px;
}
.srv .text h3 {
  margin-top: 0;
}
.srv .text p {
  margin-bottom: 0;
  line-height: var(--line-height);
  font-size: 16px;
  color: #777;
  font-weight: 300;
}
.image-column {
  justify-self: flex-end;
}
.image img {
  width: 260px;
}

@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
@media (max-width: 767px) {
  .srv {
    flex-direction: column;
    text-align: center;
  }
  .srv i {
    margin-right: 0;
  }
  .srv .text h3 {
    margin-top: 20px;
  }
  .srv .text p {
    width: 80%;
    margin: 0 auto;
  }
}
/* end services */

/* star portfolio */
.portfolio {
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 80px;
}
.portfolio .card {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.portfolio .card img {
  width: 100%;
}
.portfolio .card .info {
  padding: 20px;
}
.portfolio .card h3 {
  margin: 0;
}
.portfolio .card p {
  margin: 10px 0;
  color: #777;
}
@media (max-width: 767px) {
  .portfolio .portfolio-content {
    padding: 0 40px;
  }
}
/* end portfolio */

/* end about */
.about {
  padding-bottom: var(--section-padding);
}
.about .flex {
  justify-content: space-between;
  margin: 80px 0 60px;
}
.about .image {
  width: 250px;
}
.about .image img {
  width: 100%;
}
.about .text {
  width: 55%;
}
.about .text p {
  list-style: 2;
}
.about .text p:first-of-type {
  font-weight: bold;
  margin-bottom: 40px;
}
.about hr {
  border-color: #10cab7;
  width: 50%;
  display: block;
  margin: 0;
}
.about .text p:last-of-type {
  font-weight: 300;
  margin-top: 40px;
}
@media (max-width: 991px) {
  .about .image {
    display: none;
  }
  .about .text {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  .about hr {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .about .text {
    width: 90%;
    margin: auto;
  }
}
/* end about */

/* star contact */
.contact {
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  text-align: center;
}
.contact .info {
  margin-top: 80px;
}
.contact .info p,
.contact .info a {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -3px;
}
.contact .info p {
  color: var(--secondary-color);
  margin-bottom: 0;
}
.contact .info a {
  color: var(--main-color);
}
.contact .info i {
  color: var(--secondary-color);
  margin: 5px;
  cursor: pointer;
}
/* end contact */

/* star footer */
.footer {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
}
/* end footer */
